@using DoctorAppointmentBooking.DataAccess.Models;
@model Patient;
@{
    <div class="row">
        <div class="col-md-3">Patient Name</div>
        <div class="col-md-9">@Model.PatientName</div>
    </div>
    <div class="row">
        <div class="col-md-3">Email</div>
        <div class="col-md-9">@Model.PatientEmail</div>
    </div>
    /*
    <div class="row">
        <div class="col-md-3">Age</div>
        <div class="col-md-9">@Model.Age</div>
    </div>
    */
    <div class="row">
        <div class="col-md-3">Disease</div>
        <div class="col-md-9">@Model.Disease</div>
    </div>
    <div class="row">
        <div class="col-md-3">DOB</div>
        <div class="col-md-9">@Model.Dob</div>
    </div>
<a href="/Patient/Homepage"><button type="button" style="border-radius: 3px; color: rgb(38, 37, 37); background-color:rgb(247, 191, 191);border: 1px solid rgb(251, 207, 207); text-align:center; padding:5px;">Back</button></a>
}